@media screen and (max-width: 992px) {
  .welcome h1 {
    font-size: 2.5em;
  }
  .welcome img {
    height: 80px;
    width: 80px;
  }
  .products-card {
    font-size: 0.8em;
  }
  header nav {
    grid-column: 1 / span 12;
    font-size: 1.5em;
  }

  .panel.introduction nav {
    display: flex;
    flex-direction: column;
    height: 0px;
  }
  .panel.introduction {
    justify-content: space-between;
  }
  form {
    grid-column: span 12;
  }
  form input {
    grid-column: 7 / span 5;
  }
  #message {
    grid-column: 7 / span 5;
  }
}
