@media screen and (max-width: 1279px) {
  .welcome {
    margin-top: 20px;
  }
  .welcome h1 {
    font-size: 3em;
  }
  .welcome img {
    height: 100px;
    width: 100px;
  }
  header nav {
    grid-column: 1 / span 12;
  }
  .panel.introduction nav {
    font-size: 0.7em;
  }
  .panel.introduction h1 {
    font-size: 3em;
  }
  .products-card a {
    position: absolute;
    top: 160px;
  }
}
